

@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');  body {
  
  font-family: 'Old Standard TT', serif;}

.Tabs {
  height: 100%;
  display: flex;
}

.list {
  /* width: 13rem; */
  background-color: aliceblue;
  
  
  padding: 0px;
}

@media (max-width: 768px) {
  .tabs ul{
    display: flex;
    width: 100%;
    overflow: scroll;
  }

  .tabs ul li{
    padding: 5px;
    max-width: 210px;
  }

  .tabs button {
    width: 120px !important;
  }
  .list{
    margin-top: 25px;
  }
}
.list ul li{
  list-style: none;
}
.tab_sticky{
  position: sticky;
  top: 10%;
  background-color: #070707;
}
.list ul{
  padding: 0;
 
}
 


.container-about, .container-contact{
  margin-top: 5%;
}
.product{
  margin-top: 2%;
}
.basic-navbar-nav{
  justify-content: center;
  background-color: #070707;
}
.tab-btn{
  display: inline-block;
  border: none;
  width: 100%;
  padding: 1rem 2rem;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  margin: 1px 0px;
  padding: 10px;
}

.tab-btn:hover {
  background-color: #fff;
  color: #070707;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  
}

.text{
  margin: 0;
  font-size: 15px;
}
.head{
  color: #f1f1f5;
    background-color: black;
    border-radius: 5px;
    text-align: center;
}
.navbar{
  background-color: rgb(5, 5, 5);
  height: 75px;
  box-shadow: 0.5px 0.1px 2px rgb(165, 162, 162);
  
}
.items{
  text-align: center;
}

.logo{
  
  top: 11% !important; 
  border-radius: 100px;
  width: 124px;
  box-shadow: 0.5px 0.1px 2px rgb(151, 147, 147);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
.basic-navbar{
  color: #070707;
  background-color: #fff;
}
.nav-link{
  color: rgb(29, 25, 25);
  font-weight: 700; 
  margin: 10px 10px;
  font-size: 15px;
}
.navbar-nav{
  justify-content: right;
}
.nav-link:hover{
  color: #f8911c;
}
.footer-color{
  background-color: #282828;
}
.user-icon{
  color: #f8911c;
  font-size: 30px;
  margin: 10px;
}
label, ::placeholder{
  font-weight: bold;
  margin-left: 10px;
}
.border{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* input, textarea{
  margin: 10px;
    padding: 10px;
} */

.form-header{
  font-weight: bold;
  color: red;

}
.form-p{
  text-align: end;
}
.form-margin{
  margin-right: 50px;
}
.form-btn{
  width: 20%;
  position: absolute;
  right: 40%;
  color: black;
  font-weight: bold;
  border-radius: 25px;
  background-color: #f8911c;
  font-size: 20px;
}
.form-btn{
 background-color: #f8911c !important; 
 color: #fff;
}
.icons{
  display: contents;
}
.container-about h1{
text-align: center;
font-weight: bold;
}
.form-event{
  font-weight: bold;
}

.collapse ul li{
  font-weight: 500;
}


.mt-50{

  margin-top: 50px;
}

.mb-50{

  margin-bottom: 50px;
}
.card {
  margin-bottom: 10PX;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .1875rem;
  -webkit-border-radius: .1875rem;
  -moz-border-radius: .1875rem;
  -ms-border-radius: .1875rem;
  -o-border-radius: .1875rem;
}
.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 25px 0 rgba(0,0,0,.3), 0 0 1px 0 rgba(0,0,0,.25);
  
  & .card-content {
    box-shadow: inset 0 3px 0 0 #ccb65e;
    border-color: #ccb65e;
  }
  
  & .card-img .overlay {
    background-color: rgba(25,29,38,.85);
    transition: opacity .2s ease;
    opacity: 1;
  }
}
.product-name{
  text-align: center;
  font-weight: 700;
}

.card-img-actions {
  position: relative;
  
}
.card-row{
  padding: 1rem;
  
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  
  text-align: center;
  /* height: 265px; */
}
.card-img-actions> .inner{
  height: 210px;
  width: 280px;
}

.card-img{

  height: 210px;
  width: 280px;
}
 

.star{
      color: red;
}

.bg-cart {
  background-color:orange;
  color:#fff;
}

.bg-cart:hover {
  
  color:#fff;
}

.bg-buy {
  background-color:green;
  color:#fff;
  padding-right: 29px;
}
.bg-buy:hover {
  
  color:#fff;
}

a{

  text-decoration: none !important;
}
.footer{
  box-shadow: 0.5px -0.5px 4px rgb(95, 92, 92);
}


@media only screen and (min-width: 396px) and (max-width:767) {
  .product{
    margin-top: 6%;
  }
}

.footer h5{
  font-weight: bold;
    color: blue;
    text-decoration: underline;
    margin-bottom: 15px;
}
.footer p{
  font-size: 18px;
    color: currentcolor;
}
.footer-logo{
  width: 150px;
  margin-top: 0px;
}
.text:hover{
  color: #070707;
}

@media only screen and (max-width:992px) {
.basic-navbar-1{
  background-color: #fff !important;
  border: 1.5px solid black;
  z-index: 1;
}
.nav-link{
  border: 1.5px solid black;
  margin: 0;
}
}